/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #15104D;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

    /** favorite **/
  --ion-color-favorite: #FAC49E;
  --ion-color-favorite-rgb: 105, 187, 123;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255, 255, 255;
  --ion-color-favorite-shade: #FCDDC7;
  --ion-color-favorite-tint: #FCDDC7;

    /** custom **/
  --ion-color-custom-button-color: #FCDDC7;
  --ion-color-custom-button-color-rgb: 252, 221, 199;
  --ion-color-custom-button-color-contrast: #ffffff;
  --ion-color-custom-button-color-contrast-rgb: 255, 255, 255;
  --ion-color-custom-button-color-shade: #fcddc79f;
  --ion-color-custom-button-color-tint: #fcddc79f;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

.menu-item {
  padding: 10px 16px; /* Adjust padding as needed */
  display: flex;
  align-items: center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-square {
  width: calc(33.33% - 10px); /* Adjust the width to fit three images per row */
  margin: 5px;
  box-sizing: border-box;
}

.image-square img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.infinite-scroll-content {
  text-align: center;
  padding: 20px 0;
}

/*Login page*/
.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.ion-color-custom-button-color {
  --ion-color-base: var(--ion-color-custom-button-color);
  --ion-color-base-rgb: var(--ion-color-custom-button-color-rgb);
  --ion-color-contrast: var(--ion-color-custom-button-color-contrast);
  --ion-color-contrast-rgb: var(--ion-color-custom-button-color-contrast-rgb);
  --ion-color-shade: var(--ion-color-custom-button-color-shade);
  --ion-color-tint: var(--ion-color-custom-button-color-tint);
}

.custom-element {
  background-color: var(--ion-color-favorite);
  color: var(--ion-color-favorite-contrast);
}


.custom-app {
  --background: #FAC49E;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.custom-card {
  --background: #FAC49E;
  --header-color: #15104D;
  --input-background: #ffffff;
  --input-color: #111111;
  --button-background: #FCDDC7;
  --button-color: #15104D;
  --button-border-radius: 90px;

  background-color: var(--background);
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
}

.custom-card h1 {
  margin-top: 10%;
  color: var(--header-color);
  font-size: 2em;
  font-weight: bold;
}

.subtext {
  color: #64618A;
  font-size: 1.1em;
}

.custom-card .form-container {
  margin-top: 10%;
  width: 90%;
}

/*Email and password*/
.custom-card .custom-input {
  margin-bottom: 12px;
  --background: var(--input-background);
  --color: var(--input-color);
  --border-radius: 0px;
  text-align: left;
}

.custom-card .ion-input::placeholder {
  color: var(--input-color);
}

.custom-card .ion-button {
  --background: var(--button-background);
  --color: var(--button-color);
  --border-radius: var(--button-border-radius);
  font-weight: bold;
}

.custom-card p.footer {
  margin-top: auto;
  margin-bottom: 10%;
  color: #15104D;
}


.forgot-password-link {
  color: #15104D;
}

.signup-link {
  color: #15104D;
}

/*ForgotPassword page*/
.forgot-password-page {
  background-color: #FAC49E;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo2 {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 45%;
  margin-bottom: 10%;
}

.forgot-password-page .header-container {
  padding: 5% 0;
}

.forgot-password-page h1 {
  color: #15104D;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5%;
}

.subtext2 {
  color: #64618A;
  font-size: 1.1em;
}

.forgot-password-page .form-container {
  width: 95%;
  margin-top: 12%;
}

.forgot-password-page .custom-input {
  --background: #ffffff;
  --color: #111111;
  --border-radius: 0px;
  margin-bottom: 10px;
}

.forgot-password-page .custom-button {
  background-color: var(--ion-color-custom-button-color);
  color: var(--ion-color-custom-button-color-contrast);
  --border-radius: var(--button-border-radius);
  color: #15104D;
  font-weight: bold;
}

.custom-button {
  --background: var(--button-background);
  --color: var(--button-color);
  --border-radius: var(--button-border-radius);
  color: #15104D;
}


.forgot-password-page .footer-container {
  padding: 20%;
  margin-top: 80%;
  margin-bottom: 15%;
  color: #15104D;
}

.signup-link {
  color: #15104D;
}

/* Signup page */
.signup-page {
  --background: #FAC49E;
  background-color: var(--background);
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo3 {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
}

.signup-page .header-container {
  padding: 5% 0;
}

.signup-page h1 {
  color: #15104D;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5%;
}

.signup-page .form-container {
  width: 95%;
  margin-top: 10%;
}

.signup-page .custom-input {
  --background: #ffffff;
  --color: #111111;
  --border-radius: 0px;
  margin-bottom: 15px;
}

.signup-page .custom-button {
  background-color: var(--ion-color-custom-button-color);
  color: var(--ion-color-custom-button-color-contrast);
  --border-radius: var(--button-border-radius);
  font-weight: bold;
}

.signup-page .footer-container {
  padding: 20%;
  margin-top: 95%;
  margin-bottom: 10%;
  color: #15104D;
}

.signup-link {
  color: #15104D;
}

/* New styles for collections and item pages elements */
.background-new {
  --background: var(--ion-color-favorite);
}

.button-new {
  --background: var(--ion-color-favorite-shade);
  --color: #15104D;
  --border-radius: 20px;
  font-weight: bold;
}

.dropdown {
  /* Custom styles for the IonSelect component */
  border: 1px;
  border-radius: 4px;
  padding: 8px;
}

.ion-select-option {
  /* Custom styles for IonSelectOption components */
  background: var(--ion-color-favorite-shade);
  color: #333;
}

.button-new-cancel {
  --background: #F3F5FF;
  --color: #15104D;
  --border-radius: 20px;
}

.card-new {
  --background: #F3F5FF;
}

.custom-input-padding {
  padding: 8px;
}

/* App */
.custom-tabs,
.custom-tab-bar ion-tab-button::before,
.custom-tab-bar ion-tab-button::after {
  --ion-background-color: #FAC49E;
}

.custom-tab-bar ion-tab-button {
  --color-selected: #15104D;
  --color: #15104D;
}

ion-menu-button {
  color: #000000;
}

ion-title {
  color: #000000;
}


/* Home page */
.custom-app.home-page-wrapper {
  --background: #FAC49E;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background, #FAC49E);
}

.home-page-wrapper ion-header,
.home-page-wrapper ion-toolbar,
.home-page-wrapper ion-content {
  --ion-background-color: var(--background, #FAC49E);
}

.custom-card {
  --header-color: #15104D;
  --button-background: #FCDDC7;
  --button-color: #15104D;
  --button-border-radius: 90px;

  width: 90%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.custom-card ion-card-header,
.custom-card ion-card-content {
  color: var(--header-color);
}

.custom-card ion-button {
  --background: var(--button-background);
  --color: var(--button-color);
  --border-radius: var(--button-border-radius);
  font-weight: bold;
}

.home-page-content.custom-card {
  margin-top: 10%;
  font-size: 1.5em;
  color: #15104D;
}

ion-tab-bar,
.home-page-wrapper ion-tab-bar ion-tab-button::before,
.home-page-wrapper ion-tab-bar ion-tab-button::after {
  --ion-background-color: var(--background, #FAC49E);
}

.home-page-wrapper ion-tab-bar ion-tab-button {
  --color-selected: #15104D;
  --color: #15104D;
}

/* Search Bar */
.search-bar {
  margin-top: 20px;
}

.search-bar ion-searchbar {
  --background: #FFFFFF;
  --border-radius: 10px;
}

.search-bar ion-searchbar .searchbar-input {
  color: #15104D;
}

.search-bar ion-searchbar .searchbar-placeholder {
  color: #8E8E93;
}

.search-bar ion-searchbar .searchbar-clear-icon {
  color: #8E8E93;
}

.search-bar ion-searchbar .searchbar-icon {
  color: #8E8E93;
}

.search-bar ion-searchbar .searchbar-cancel-button {
  color: #15104D;
}

/* Big Card */
.home-page-wrapper .big-card .custom-card {
  background-color: #f0f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 1%;
}

.home-page-wrapper .big-card .custom-card ion-card-header,
.home-page-wrapper .big-card .custom-card ion-card-content {
  color: var(--header-color); 
  --ion-background-color: #f0f1f1;
  border-bottom: 2px solid #cfcfd1;
}

.home-page-wrapper .big-card .custom-card ion-button {
  --background: #FFAABB;
  --color: #FFFFFF;
}

/* Big Card Image Styles */
.custom-card .card-image-container {
  max-width: 100%;
  overflow: hidden; 
  border-radius: 0 0 0 0;
}

.custom-card .card-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Small Cards */
.home-page-wrapper .small-cards .custom-card {
  background-color: #f0f1f1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 15%;
  color: #000000;
  text-align: center;
}

.home-page-wrapper .small-cards .custom-card ion-button {
  --background: #f0f1f1;
  --color: #FFFFFF;
}

/* IonIcons in small cards */
.ion-icon-custom {
  font-size: 24px;
  color: #080808;
  margin-bottom: 10px;
}

/* Medium cards */
.home-page-wrapper .medium-cards {
  margin-bottom: 20px;
}

.home-page-wrapper .medium-cards .custom-card img {
  max-width: 100%;
  height: auto;
  border-radius: 0;
  display: block;
}

.home-page-wrapper .medium-cards .custom-card {
  background-color: #f0f1f1;
  border-radius: 15px;
  margin-bottom: 1%;
  padding: 4%;
  color: #000000;
  border-bottom: 2px solid #cfcfd1;
}

.home-page-wrapper .medium-cards .custom-card ion-button {
  --background: #f0f1f1;
  --color: #15104D;
  --font-weight: bold;
}

/* Settings Page Styling */
.settings-page-wrapper {
  --background: #FAC49E; 
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header Styling */
.settings-page-wrapper ion-header,
.settings-page-wrapper ion-toolbar {
  --ion-background-color: var(--background, #FAC49E);
}

/* Styling for the entire list area in the settings page */
.settings-page-wrapper ion-content ion-list {
  background-color: #FCDDC7;
}


/* Custom styles for your toggle switches */
.settings-custom-item ion-toggle {
  --ion-color-checked: #08b84b; /* Color for checked toggle */
  --ion-color-unchecked: #999; /* Color for unchecked toggle */
}

/* Global styles for all pages */
.custom-tabs,
.custom-tab-bar ion-tab-button::before,
.custom-tab-bar ion-tab-button::after {
  --ion-background-color: #FAC49E;
}

.custom-tab-bar ion-tab-button {
  --color-selected: #3e3741;
  --color: #080808;
}

ion-menu-button,
ion-title {
  color: #000000;
}

/* Settings page header */
.settings-page ion-header ion-toolbar {
  --background: #FAC49E;
  --color: white;
}

/* Bottom Tabs */
.custom-tab-bar {
  background-color: #FCDDC7;
  color: white;
  padding: 0.5em;
}

/* General Styling */
body {
  background-color: #FAC49E;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Menu Styles */

:root {
  --menu-background-color: #FCDDC7;
}

.menu-container {
  --ion-background-color: #FAC49E;
}

.menu-container ion-menu {
  --ion-background-color: #FCDDC7; 
}

.menu-container ion-header,
.menu-container ion-toolbar {
  --background: var(--ion-background-color);
  color: #000000;
  padding: 4%;
  font-weight: bold;
}

.menu-container ion-list,
.menu-container ion-item {
  --background: var(--ion-background-color);
  color: #000000;
  font-weight: bold;
}

.menu-container ion-item ion-label,
.menu-container ion-item ion-icon {
  color: #000000;
  margin-right: 8px;
}

.menu-container ion-menu ion-content {
  --background: #FCDDC7;
}


/* Contact Page Styles */

/* Header Title Styling */
ion-title.top-header-title {
  font-size: 1.2em;
  color: #000000;
}

/* Contact Title Styling */
.contact-title {
  font-size: 2em;
  color: #000000;
}

/* Contact Text Styling */
.contact-text {
  color: grey;
  font-size: 1em;
  padding-top: 10%;
  margin-top: 20%;
}

/* Button Container Styling */
.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
  margin-bottom: 20%;
}

/* Custom Button Styling */
.custom-button {
  background-color: #FCDDC7;
  color: #0e0d0d;
  font-weight: bold;
}

/* Additional styling for the IonContent container, if needed */
ion-content.ion-padding.center-content.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

/* Contact Page Header Styling */
.contact-page .contact-header {
  --background: #FAC49E;
  --ion-color-base: #FAC49E;
  --ion-toolbar-background: #FAC49E;/
}

/*About page*/

/* Contact Page Header Styling */
.about-page .about-header {
  --background: #FAC49E;
  --ion-color-base: #FAC49E;
  --ion-toolbar-background: #FAC49E;
  --ion-toolbar-color: #000000;
}

.text-container {
color: #000000;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #fac49e; 
}

.text-container {
  text-align: center;
  margin: 20px; 
}

.description-text {
  color: grey;
  font-size: 1em;
  margin-top: 15px; 
}

.contact-link {
  margin-top: 20px;
}

ion-content {
  padding: 20px;
  height: 100%;
}

.line {
  display: block;
  margin-bottom: 10px; 
}

/* Profile page */
.profile-page .ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  font-size: 48px;
  color: #000000;
  display: block;
  margin-top: 100%;
  margin-left: 52%;
  zoom: 1.3;
}

.second-image {
  font-size: 24px;
  color: blue;
  position: absolute;
  margin-left: 70%;
}

.profile-page .profile-header {
  --background: #FAC49E;
  --ion-color-base: #FAC49E;
  --ion-toolbar-background: #FAC49E;
  --ion-toolbar-color: #000000;
  --ion-title-font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.bio-button {
  background-color: #FCDDC7;
  color: #000000;
}

/* Photo page */
.photo-page .photo-header {
  --background: #FAC49E; /* Replace with your desired color */
  --ion-color-base: #FAC49E; /* For background color */
  --ion-toolbar-background: #FAC49E; /* For toolbar background color */
  --ion-toolbar-color: #ffffff; /* For text color in the toolbar */
}

/* Collections page */
.collections-page .collections-header {
  --background: #FAC49E; /* Replace with your desired color */
  --ion-color-base: #FAC49E; /* For background color */
  --ion-toolbar-background: #FAC49E; /* For toolbar background color */
  --ion-toolbar-color: #ffffff; /* For text color in the toolbar */
}