.profile-page-container {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
}

.custom-card {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 60%;
  margin-bottom: 10px;
}

.second-image {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.profile-label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.profile-icon {
  font-size: 20px;
  margin: 10px;
}

.profile-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-stat {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-input {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}
